.slides-container {
    /* overflow-x: hidden; */
    width: 100%;
    height: 100%;
    border-radius: 1px;
    border-color: #313638;
}

.centerWrap {
    padding-inline: 1rem;
    
}

.about-me {
    background: -webkit-linear-gradient(105deg, #764BA2 , #667EEA);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
}


.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
    
}

::-webkit-scrollbar {
    display: none;
}

.slides>div {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 50vh;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    text-align: center;
    
    @media (max-width: 767px) {
        font-size: 15px;
        text-wrap: wrap;
    }

}