.slides-container {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}


.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
}

::-webkit-scrollbar {
    display: none;
}

.slides>div {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 50vh;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    background: #353935;
    justify-content: center;
    align-items: center;
    font-size: 24px;

}