.App {
  text-align: center;
}

.App-aboutme {
  text-size-adjust: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #121212;
  background-color: #121212;
  
  font-family: sans-serif;  
  @media (max-width: 767px) {
    min-height: 50vh;
    
  }
  
}

.App-projects-container {
  background-color: #121212;
}

.App-project {
  @media (max-width: 767px) {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 10px;
  }
}

