.App {
  text-align: center;
}
.main-first-connect {
  background-image: linear-gradient(135deg, #0098f3, #644CAC, #c80065);
}

.App-header {
  text-size-adjust: auto;
  background-image: linear-gradient(135deg, #0098f3, #644CAC, #c80065);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  color: white;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App-aboutme {
  text-size-adjust: auto;
  flex: 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
  background-color: #353935;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App-project {
  text-size-adjust: auto;
  border: 2px solid #353935;
  
  /* Media query for screens smaller than 768px */
  @media (max-width: 767px) {
    border: 1px solid #353935;
  }
  max-height: 25vh;
  min-height: 25vh;
  max-width: 99.75vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App-footer {
  text-size-adjust: auto;
  float: bottom;
  background-color: white;
  color: white;
  font-size: calc(10px + 1vmin);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

