.header {
    text-align: center;
    text-size-adjust: auto;
    background: -webkit-linear-gradient(bottom, #A1C4FD , #A1C4FD);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    background-image: #121212;
    font-family: sans-serif;
    

    @media (max-width: 767px) {
        font-size: 12px;
    }

}

.proj {
    color: #121212;
    font-size: 44px;
    font-weight:bold;
}

.r {
    @media (max-width: 767px) {
        padding-right: 1rem;
        font-size: 10px;
    }
}


.proj-name {
    background: -webkit-linear-gradient(bottom, #09203F, #537895);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    @media (max-width: 767px) {
        font-size: 15px;
    }
}



.proj-desc {
    padding-left: 3rem;
    padding-right: 3rem;
    text-wrap: wrap;
    font-size-adjust: auto;
    color: #121212;
    font-family: sans-serif;
    @media (max-width: 767px) {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 10px;
    }
    
}




